<aside
  class="d-flex flex-column gap-5"
  [class.toggeled]="toggel">
  <div class="header d-flex align-items-center">
    <h3 class="text-center" style="flex-grow: 3;">Dashboard</h3>

    <div
      class="toggle"
      style="padding-right: 10px;"
      (click)="ontoggel()">
      <i class="fa-solid fa-sliders"></i>
    </div>
  </div>

  <ul>
    <li routerLink="/layout/home" routerLinkActive="active" >Home</li>
    <li routerLink="/layout/profile" routerLinkActive="active">Profile</li>
    <li routerLink="/layout/projects" routerLinkActive="active">Projects</li>
    <li routerLink="/layout/setting" routerLinkActive="active">Setting</li>
    <li routerLink="/layout/user-management" routerLinkActive="active">User-Management</li>
  </ul>

  <div class="icons text-center d-flex flex-column gap-2">
    <button mat-icon-button aria-label="Logout" [routerLink]="''">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</aside>
