aside {
  width: 250px;
  background-color: rgb(19, 19, 51);
  height: 100vh;
  color: rgb(231, 229, 229);
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 2;

  ul{
    padding-left: 20px;
    padding-right: 20px;
    li{
      cursor: pointer;
      text-align: center;
      padding-bottom: 10px;
      margin-top: 10px;
      position: relative;
      transition: 0.3s;
    }

    .active {
      color: rgb(128, 128, 128);
    }

    .active::after {
      background-color: rgb(128, 128, 128);
    }

    li:after {
      position: absolute;
      content: "";
      top: 100%;
      left: 19px;
      width: calc(100% - 42px);
      height: 1px;
      background-color: rgb(231, 229, 229);
    }

    li:hover {
      background-color:rgb(231, 229, 229, 0.1) ;
    }
  }

  .icons button {
    background-color: transparent;
    border: none;
    color: rgb(231, 229, 229);
  }
}

.toggeled {
  transform: translateX(-215px);
  // width: 25px;
  // overflow: hidden;
}
