<div class="container-fluid mt-3">
  <h2 class="position-relative">Profile</h2>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card p-3">
        <div class="row">
          <div class="first col-md-3 text-center align-self-center">
            <img class="img-fluid" src="avatar.png" alt="">
            <p class="mt-3">name</p>
            <span>level</span>
            <p>Junior</p>
          </div>

          <div class="boxs col-md-9 position-relative">
            <div>
              <h6 class="mb-4">General information</h6>
              <div class="box d-flex align-items-center justify-content-between">
                <p><span>Full Name: </span>Omar</p>
                <p><span>Gendar: </span>Male</p>
                <p><span>Country: </span>Egypt</p>
              </div>
            </div>

            <div class="mt-3">
              <h6 class="mb-4">Personal Information</h6>
              <div class="box d-flex align-items-center justify-content-between">
                <p><span>Email: </span>{{'o@23.com'}}</p>
                <p><span>Phone: </span>01128773711</p>
                <p><span>Date Of Birth: </span>1/10/1999</p>
              </div>
            </div>

            <div class="mt-3">
              <h6 class="mb-4">Jop Information</h6>
              <div class="box box d-flex align-items-center justify-content-between">
                <p><span>Title: </span>FrontEnd Developer</p>
                <p><span>Prog-Language: </span>JavaScript</p>
                <p><span>Years Of Experience: </span>2</p>
              </div>
            </div>

            <div class="mt-3">
              <h6 class="mb-4">Billimg information</h6>
              <div class="box d-flex align-items-center justify-content-between">
                <p><span>Paymen Method: </span>Paypal</p>
                <p><span>Email: </span>{{'o@23.com'}}</p>
                <p><span>Subscription: </span>Monthly</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper mt-3">
    <div class="card p-3">
      <h4>Skills</h4>
    </div>

    <div class="card p-3">
      <h4>Skills</h4>
    </div>
  </div>
</div>
