<div class="dashboard-container" [class.collapsed]="isSidebarCollapsed">
  <app-sidebar [toggel]="isSidebarCollapsed" (toggelling)="sidebarToggle()"/>

  <div class="dashboard-content">
    <div class="header d-flex align-items-center justify-content-between">
      <h4>{{'Hello Name'}}</h4>
      <div class="d-flex align-items-center">
        <div class="input-container">
          <input type="text" placeholder=" ">
          <label>Search</label>
        </div>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
