<div class="dashboard-container" [class.collapsed]="isSidebarCollapsed">
  <app-sidebar [toggel]="isSidebarCollapsed" (toggelling)="sidebarToggle()"/>

  <div class="dashboard-content">
    <div class="header d-flex align-items-center justify-content-between">
      <h4>{{'Hello Name'}}</h4>
      <div>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </div>

    <router-outlet class="ms-2"></router-outlet>
  </div>
</div>
